


.h100 {
    height: 100%;
}

.columna{
    border-radius: 0.1rem;
    margin: 0 0.2rem ;
    &:nth-child(2n + 1) {
        background-color: grey;
    }
    &:nth-child(2n) {
        background-color: lightgrey
    }
}

.lista-trasparente {
    background-color: transparent;
}

.lista-aclarada {
    background-color: rgba(255, 255, 255, 0.1);
}

.scroll {
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
}

.ajustar-lista {
    height: calc(100% - 67px);
    width: 100%;
}