<ion-header *ngIf="board">
  <ion-toolbar>
    <ion-title>{{ board.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX=true *ngIf="board">
  <ion-grid class="ion-align-items-stretch h100">
    <ion-row class="ion-nowrap h100">
      <ion-col size="4" *ngFor="let elemList of board.content" class="columna" >
        <ion-item color="transparent">
            <h2>
              {{elemList.title}}
            </h2>
        </ion-item>
        <ion-list class="lista-trasparente scroll ajustar-lista">
          <ion-card *ngFor="let elemCard of elemList.list">
            <ion-card-header>
              <ion-card-title>
                {{ elemCard.title }}
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{ elemCard.description }}
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
