<ion-header>
  <ion-toolbar>
    <ion-title>prueba2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollX=true>
  <ion-grid class="ion-align-items-stretch h100">
    <ion-row class="ion-nowrap h100">
      <ion-col size="3" *ngFor="let i of [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]" id="col{{i}}" class="columna" >
        <ion-item color="transparent">
            <h2>
              Columna
            </h2>
        </ion-item>
        <ion-list color="transparent">
          <ion-card *ngFor="let i of [1,2,3,4,5]">
            <ion-card-header>
              <ion-card-title>
                HOLAA
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Soy el contenido de la carta
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
